/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #333;
    color: white;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #45a049;
  }

  
